# Copyright (C) 2026 Mitsubishi Electric Research Laboratories (MERL)
#
# SPDX-License-Identifier: AGPL-3.0-or-later

torch==2.6.0
torchvision
transformers==4.57.1
datasets
accelerate
pillow
tqdm
matplotlib
